<div class="part detail">
	<div class='headline'><h1>{{sensordata.headline}}</h1></div>
	<form>
		<fieldset class="switch toggle sensor_settings">
			<div class="wrapper hide">
			<p class="error" style="margin-bottom: 10px">Die Funktion der Bewässerung steht derzeit nicht zur Verfügung</p>
				<span>automatisch</span>
				<form>
					<button class="btn switch-buttons toggle-switch" type="submit" formmethod="post">
						<label class="btn-round-checkbox"  for="auto"></label>
						<input class="check" id="auto"  type="hidden" name="autoControll" value="{{sensordata.automatic}}">
					</button>
				</form>
			</div>
			<div class="wrapper">
				<span>zeitgesteuert</span>
				<form>
					<button class="btn switch-buttons toggle-switch" type="submit" formmethod="post">
						<label class="btn-round-checkbox"  for="timing"></label>
						<input class="check" id="timing"  type="hidden" name="timeControll"  value="{{sensordata.timing}}">
					</button>
				</form>
			</div>
		</fieldset>
		</form>
	{{#if runtime}}
	<dl class="time-list">
		<div class="row first">
			<dt class="col-6 hidden">Sensorzeiten</dt>
			<dd class="col-2">Start</dd>
			<dd class="col-2">Ende</dd>
		</div>
		{{#each sensordata.runtime}}
		<div class="row">
			<form >	 
				<dt class="col-6">{{day}}</dt>
				<dd class="col-2"><time>{{start}}</time></dd>
				<dd class="col-2"><time>{{end}}</time></dd>
				<input type="hidden" name ="deleteTime" value="{{id}}">
				<button class="btn delete"  type="submit" formmethod="post"><i class="fa fa-close"></i></button>
			</form>
		</div>
		{{/each }}
	</dl>
	{{/if }}
	<form method="post" class="toggle ad-settings" id="days">
		<fieldset>
			<h2>Zeiten hinzufügen</h2>
			<div class="row check-input">
				<input class="hidden" id="timingId" type="hidden" name="id" value=""/>
				<select class="col-8" name="day" form="days">
					<option>Wochentag</option>
					<option value="Montag" name="day">Montag</option>
					<option value="Dienstag" name="day">Dienstag</option>
					<option value="Mittwoch" name="day">Mittwoch</option>
					<option value="Donnerstag" name="day">Donnerstag</option>
					<option value="Freitag" name="day">Freitag</option>
					<option value="Samstag" name="day">Samstag</option>
					<option value="Sonntag" name="day">Sonntag</option>
				</select> 
				<div class="col-2">
					<label for="start-sensor" class="hidden"></label>
					<input class="rounded" id="start-sensor" type="time" name="start" placeholder="Start"/>
				</div>
				<div class="col-2">
					<label for="stop-sensor"  class="hidden"></label>
					<input class="rounded" id="stop-sensor" type="time" name="end" placeholder="Ende"/>
				</div>
			</div>
			<button class="btn submit" type="submit">Hinzufügen</button>
		</fieldset>
	</form>
</div>