<div class="part">
	<ul class="photo-items">
		{{#each savedImg}}
		<li class="list-item photo-detail">
			<figure>
				<button class="set_img hide_overlay"  type="reset"><i class="fa fa-close"></i></button>
				<img src="{{url}}" alt="{{public_id}}" />
				 <figcaption>
				 	{{public_id}}
				 </figcaption>
				 <input type="hidden" name ="deleteImg" value="{{public_id}}">
				 <button class="set_img show_overlay"  type="button"><i class="fa fa-cog"></i></button>
			</figure>
		</li>
		{{/each}}
	</ul>
	<form method="post" class="overlay">
		<div class="over">
			<div class="edit_img">
			 	<h1>Bild löschen</h1>
		 		<div class="row">
					<button class="btn col-6 left rounded_left" type="submit" value="">Löschen</button>
					<button class="btn col-6 hide_overlay rounded_right" type="button">Abbrechen</button>
				</div>
		 	</div>
		 </div>
	</form>
</div>



