{{#each data.sensor}}
	<div class="part">
		<div class='headline switch row'>
			<div  class="col-2"><i class="{{icon}}"></i></div>
			<h1 class="col-8">{{headline}}</h1>
			<form method="post">
				<fieldset class="col-2">
					<button class="btn switch-buttons toggle-switch" type="submit">
						<label class="btn-round-checkbox"  ></label>
						<input class="check topic" type="hidden" name="senState"  id="{{link}}" value={{status}}>
						<input type="hidden" name="senId" value="{{link}}">
					</button>
				</fieldset>
			</form>
		</div>
		<a href="detail-{{link}}" class="more right" name="link">weitere Infos <i class="fa fa-angle-right"></i></a>	
	</div>
{{/each}}
