<div class="part">
	<h1>Headline 1</h1>
	<h2>Headline 2</h2>
	<h3>Headline  3</h3>

<a href="#" class="link">Link</a>
</div>

<header class="row">
	<div  class="col-2"><a href="#" class="back">zurück</a></div>
	<h1 class="col-8">Header</h1>
	<ul class="item-list col-2">
		<li class="list-item">
			<a href="#" class="toggle">
			<i class="fa fa-bars right"></i></a>
			<ul class="sublist ">
				<li class="list-item">
					<a href="#" class="toggle"><i class="fa fa-file-image-o"></i>Fotomaterial</a></li>
				<li class="list-item">
					<a href="#" class="toggle"><i class="fa fa-sign-out"></i>
					Logout</a></li>
			</ul>
		</li>
	</ul>
</header>

<div class='headline'><h1>Headline Area</h1></div>

<div class="part">
	<div class='headline expand'><i class="fa fa-camera"></i><h1>Input Area open/close</h1><i class="fa fa-angle-up"></i></div>
	<form method="post" id="">
		<fieldset>
			<div class="wrapper">
				<div>
					<label for="top-input"></label>
					<input class="top-rounded" id="top-input" type="text" name="" placeholder="user"/>
					<label for="rounded-down"></label>
					<input class="bottem-rounded" id="rounded-down" type="password" name="" placeholder="pw"/>
				</div>
				<label class="checkbox right" for="checkbox"><input class="checkbox left" id="checkbox" type="checkbox"/>click me</label>
			</div>
			<div class="wrapper">
				<label for="top-input"></label>
				<input class="rounded" id="top-input" type="text" name="" placeholder="rounded-input"/>
			</div>
			<div class="wrapper">
				<label for="top-input"  class="edit"><i class="fa fa-pencil-square-o"></i></label>
				<input class="top-rounded edit-data" id="top-input" type="text" name="email" value="user@user"/>
				<label for="rounded-down"  class="edit "><i class="fa fa-pencil-square-o"></i></label>
				<input class="bottem-rounded edit-data" id="rounded-down" type="password" value="data to edit" name=""/>
			</div>
			<button class="btn submit" type="submit">Submit</button>
		</fieldset>
	</form>
</div>

<div class="part">
	<div class='headline'><h1>Switch Button/Form</h1></div>
	<form method="post" class="switch" id="">
		<fieldset>
			<button class="btn switch-buttons toggle-switch" id="" type="submit">
				<label class="btn-round-checkbox"  for=""></label>
				<input class="check" id=""  type="hidden" value="" name="" >
		</button>
		</fieldset>
	</form>
</div>

<div class="part">
	<div class='headline'><h1>Select-Form</h1></div>
	<form>
		<select>
			<option>Wochentag</option>
			<option>Montag</option>
			<option>Dienstag</option>
			<option>Mittwoch</option>
			<option>Donnerstag</option>
			<option>Freitag</option>
			<option>Samstag</option>
			<option>Sonntag</option>
		</select>
	</form>
</div>