<div class="part">
	<div class='headline expand'><h1>Verbundene Geräte</h1></div>
	{{#each datatools as |device deviceId|}}
	<a href="{{device.url}}" class="link"> {{deviceId}}</a>
	<!--fieldset class="wrapper">
		<form method="post" action="/me">
			<input type="hidden" value="{{deviceId}}" name="deviceId"/>
			<button class="btn submit" type="submit"></button>
		</form>
	</fieldset-->
	{{/each}}
</div>