<!DOCTYPE html>
<html lang="{{language}}" class="">
	<head>
		<meta charset="utf-8">
    		<title>{{title}}</title>
    		<meta name="HandheldFriendly" content="True">
    		<meta name="MobileOptimized" content="320">
        		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    		<link rel="stylesheet" href="css/weather-icons.min.css">
    		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body id="{{id}}">
		<header class="row">
			<div  class="col-2 first"><a href="/" class="back"><i class="fa fa-angle-left"></i>zurück</a></div> 
			<h1 class="col-8">{{title}}</h1>
			{{#if menu}}
			<ul class="item-list col-2">
				<li class="list-item">
					<a href="#" class="toggle">
					<i class="fa fa-bars right"></i></a>
					<ul class="sublist">
						{{#each data.menu}}
							<li class="list-item"><a href="{{link}}" class="{{id}}"><i class="fa fa-{{icon}}"></i>{{name}}</a></li>
						{{/each}}
					</ul>
				</li>
				{{/if}}
			</ul>
		</header>
		<div class="main">
			{{{body}}}
		</div>
		<footer></footer>
		<script src="//code.jquery.com/jquery-latest.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        		<script src="js/main.js"></script>
	</body>
</html>