<div class="errorpage">
	{{#if error_403}}
	<h1>Error!</h1>
	<h2>403 - Access not permitted</h2>
	{{/if}}
	{{#if error_404}}
	<h1>Error!</h1>
	<h2>404 - Page/File not found</h2>
	{{/if}}
	{{#if error_500}}
	<h1>Error!</h1>
	<h2>500 - Sorry, something went wrong</h2>
	{{/if}}
</div>