{{#if detail}}
    {{>detail}}
{{/if}}

{{#if detail_not}}
    {{>detail_not}}
{{/if}}

{{#if footage}}
    {{>footage}}
{{/if}}

{{#if home}}
    {{>home}}
{{/if}}

{{#if tools}}
    {{>tools}}
{{/if}}

{{#if user}}
    {{>user}}
{{/if}}

{{#if styleguide}}
    {{>styleguide}}
{{/if}}
