/**
 * ---------------------------------------------------------------------------------------------------- #
 *
 * Base - compass, reset, bugfixes, skiplinks, clearfix
 *
 */
/*
 * Compass Settings
 */
/* Support for Original-Webkit-Syntax at gradients */
/* Support for vendor prefixes for Opera and Konqueror */
/* Support for SVG alternative */
/* Imports neccesarry libaries*/
/*@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";*/
/*
 * Mixins for standard classes
 */
@media all {
  /**
   *
   * Global Reset
   *
   * browser reset
   * @see     http://meyerweb.com/eric/tools/css/reset/
   *          v2.0 | 20110126
   *          License: none (public domain)
   */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, font, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }

  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  blockquote:before, blockquote:after,
  q:before, q:after {
    content: "";
    content: none;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
  }

  /**
   *
   * Browser Bugfixes
   *
   * @section fixes
   */
  /* Prevent iOS text size adjust after orientation change, without disabling user zoom. */
  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  /**
   * Erzwingen vertikaler Scrollbalken in IE8, Firefox, Webkit & Opera um Springen des Inhalts zu vermeiden
   */
  body {
    overflow-y: scroll;
  }

  /* fix to remove extra inner padding on buttons in firefox */
  input::-moz-focus-inner,
  button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  button,
  input {
    line-height: normal;
  }

  button,
  select {
    text-transform: none;
  }

  img {
    border: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
  }

  nav ul,
  nav ol {
    list-style: none;
    list-style-image: none;
  }

  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
  }

  textarea {
    overflow: auto;
    vertical-align: top;
  }

  /**
   * ---------------------------------------------------------------------------------------------------- #
   *
   * Standard Classes and Helpers
   *
   * generic-content-classes
   */
  .clearfix {
    /* fix for safari */
    display: block;
  }
  .clearfix:after {
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    content: ".";
  }

  /* Der Kern von Clearfix */
  .block {
    overflow: hidden;
  }

  /* BFC erzeugen */
  .border_box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* print */
@media print {
  body {
    overflow: visible;
    font-size: 10pt;
    background: transparent none;
  }

  #topnav,
  #nav,
  #search,
  nav,
  .noprint {
    display: none;
  }

  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }

  .print {
    position: static;
    left: 0;
  }
}
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, button, em,
b, u, center, dl, dt, dd, ol, ul, li, li a,
fieldset, form, label, legend, caption, tr, th, td,
article, aside, figcaption, footer, header,
menu, nav, section, time,
a.back, a.back:hover, a.back:active {
  font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  box-sizing: border-box;
}

div, span,
h1, h2, h3, h4, h5, h6, p, blockquote,
abbr, acronym, address, big, button, em,
b, u, center, dl, dt, dd, ol,
fieldset, form, label, legend, caption, tr, th, td,
article, aside, figcaption, footer,
menu, nav, section, time {
  overflow: hidden;
}

body, h5, h6, p, blockquote,
address, big, button, em,
b, u, center, dt, dd, li,
label, legend, caption, span, tr, th, td,
article, aside, figcaption, footer, header,
menu, time, select {
  font-size: 1.125rem;
  line-height: 1.35rem;
}

.errorpage h1 {
  font-family: 'Helvetica Neue';
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.5rem;
}

h1, .set_img .fa-cog,
.set_img .fa-close {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
}

h2 {
  font-size: 1.375rem;
  line-height: 1.5rem;
  padding: 10px 0;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

input {
  font-size: 0.8rem;
  line-height: 1rem;
  box-sizing: border-box;
}

.wi-raindrops, .more .fa,
.back .fa,
.fa-angle-down, .fa-angle-up {
  font-size: 1.5rem;
  line-height: 1.6rem;
}

header h1 {
  text-align: center;
  text-transform: uppercase;
}

.headline .fa,
.headline .wi {
  float: left;
}

.headline .fa.right {
  float: right !important;
}

.fa, .wi {
  line-height: 40px;
}

.back .fa,
.more .fa {
  position: relative;
  padding-right: 3px;
}

.back .fa {
  top: 3px;
}

.more .fa {
  top: 2px;
}

a {
  color: #004734;
  text-decoration: none;
}
a:active, a:hover {
  color: green;
}
a.link, a.link:active, a.link:hover {
  text-decoration: underline;
}

ul .sublist .list-item .active {
  text-decoration: underline;
}

input,
.list-item a,
.list-item a:hover,
.list-item a:active,
.edit-data {
  color: #333;
}

@media (max-width: 500px) {
  .main a.link {
    line-height: 40px;
  }
}
@media (min-width: 501px) {
  .main a.link {
    line-height: 30px;
  }
}
#tools .main a.link {
  display: block;
  text-align: center;
}

@media (max-width: 500px) {
  header.row .first {
    left: -5px;
    width: 65px;
    padding-right: 0 !important;
  }

  header.row .first ~ .col-8 {
    width: 185px;
    padding-left: 7px;
  }

  header.row .first ~ .col-2 {
    margin-left: -10px;
  }

  .ad-settings .col-8 {
    width: 45% !important;
  }

  .ad-settings .col-8 + .col-2 {
    padding-left: 5px;
  }

  .ad-settings .col-2 {
    width: 27.5% !important;
    box-sizing: border-box;
    padding-right: 5px  !important;
  }
}
@media (min-width: 501px) {
  .col-8 + .col-2 {
    padding-left: 10px;
  }
}
.row {
  clear: both;
  width: 100%;
  position: relative;
}
.row .col-2 {
  float: left;
  width: 20%;
  margin-bottom: 0px;
  padding-right: 10px;
}
.row .col-2 ~ .col-2 {
  float: right;
}
.row .col-2 ~ dd.col-2 {
  float: left;
}
.row .col-3 {
  float: left;
  width: 25%;
  padding-right: 10px;
}
.row .col-6 {
  float: left;
  width: 50%;
  padding-right: 10px;
}
.row .col-8 {
  float: left;
  width: 60%;
}

html {
  display: block;
  min-height: 100%;
  background: url("/img/green-white-bg.png");
  background-size: auto 100%;
  background-position: left bottom;
  background-attachment: fixed;
}

html.color-bg {
  background: url("/img/img-bg.png") no-repeat;
  background-size: cover;
}
html.color-bg header {
  background: rgba(208, 254, 241, 0.8);
}

body {
  width: 100%;
  height: 100%;
  margin: 0 0;
  padding: 0;
}

div.errorpage {
  margin-left: -20px;
  text-align: center;
}

header,
.headline {
  /* fix for safari */
  display: block;
  padding: 5px 10px;
  border-bottom: #333 1px solid;
}
header:after,
.headline:after {
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  content: ".";
}

header {
  z-index: 10;
  position: relative;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}
header.row {
  margin-bottom: 0;
}

.headline {
  background: rgba(4, 255, 183, 0.3);
}
.headline.switch {
  z-index: 0;
}

.right {
  float: right;
  display: block;
}

.left {
  float: left;
  display: block;
}

.center {
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.hidden {
  visibility: hidden;
}

.more {
  margin-right: 20px;
}

.part {
  margin-bottom: 20px;
  padding-bottom: 20px;
  background: -webkit-linear-gradient(rgba(4, 255, 183, 0.8), rgba(208, 254, 241, 0.8));
  background: -o-linear-gradient(rgba(4, 255, 183, 0.8), rgba(208, 254, 241, 0.8));
  background: -moz-linear-gradient(rgba(4, 255, 183, 0.8), rgba(208, 254, 241, 0.8));
  background: linear-gradient(rgba(4, 255, 183, 0.8), rgba(208, 254, 241, 0.8));
}

p.error {
  color: #ddd;
  background: rgba(147, 0, 0, 0.68);
}

.error,
.info {
  padding: 10px 0;
  text-align: center;
}

@media (max-width: 500px) {
  .back {
    left: 0;
    top: 2px;
    padding-right: 0;
    padding-left: 0;
  }

  .delete i {
    left: 0;
  }
}
@media (min-width: 501px) {
  .back {
    left: 12px;
    padding: 3px 10px 3px 8px;
  }

  .delete i {
    left: -3px;
  }
}
.btn {
  padding: 5px 10px;
  background: linear-gradient(#eee, #999), -webkit-linear-gradient(#eee, #999);
  border: #aaa 1px solid;
  border-radius: 5px;
}
.btn.submit {
  margin-top: 15px;
}
.btn.delete {
  position: absolute;
  top: 3px;
  right: 3px;
  max-width: 30px;
  max-height: 30px;
  border: 0 none;
  background: transparent;
}
.btn.delete i {
  position: relative;
  top: -1px;
  line-height: 20px;
}

div + .btn.submit {
  margin-top: 0;
}

.btn.submit {
  width: 50%;
}

.back {
  float: left;
  position: relative;
  margin: 5px 0;
}

.switch {
  /* fix for safari */
  display: block;
  position: relative;
  text-align: center;
}
.switch:after {
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  content: ".";
}
.switch .btn.switch-buttons {
  float: right;
  position: relative;
  width: 75px;
  height: 35px;
  display: block;
  padding: 0;
  background: #eee;
  border: 1px solid #999;
  border-radius: 20px;
  font-size: 1.25rem;
  line-height: 1.3rem;
}
.switch .btn.switch-buttons:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 33px;
  height: 31px;
  font-size: 1.25rem;
  line-height: 1.3rem;
  background: #eee;
  border-radius: 0 none;
  border-radius: 25px;
  -webkit-box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.75);
}
.switch .btn.switch-buttons.active:after {
left: 39px !important;
}
.switch label.btn-round-checkbox {
  text-align: left;
}
.switch .switch-buttons.active {
  background-color: #2de300;
}
.switch .switch-buttons.active .btn-round-checkbox:after {
  left: 40px;
}
.switch input.check {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 30px;
}

.rounded_left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rounded_right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.expand {
  position: relative;
}
.expand h1 + .fa {
  z-index: 10;
  position: absolute;
  top: 7px;
  right: 20px;
}

/* forms */
@media (max-width: 500px) {
  .switch form {
    right: -1px;
  }

  form .switch .wrapper,
  form .switch .wrapper form {
    padding: 0 5px;
  }
}
@media (min-width: 501px) {
  .switch form {
    right: 3px;
  }

  form .switch .wrapper,
  form .switch .wrapper form {
    padding: 0 20px;
  }
}
form {
  text-align: center;
}
form .wrapper {
  position: relative;
}
form div + .check-input {
  margin-top: -5px;
}
form .edit {
  z-index: 0;
  position: absolute;
  top: -4px;
  right: 27px;
}
form .edit ~ .edit {
  top: 24px;
}
form input {
  display: block;
  margin: 0;
  border: #999 1px solid;
}
form input.top-rounded,
form input.bottem-rounded {
  width: 100%;
}
form input.top-rounded {
  padding: 7px 10px 5px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-box-shadow: inset 0px 1px 2px 1px #777;
  -moz-box-shadow: inset 0px 1px 2px 1px #777;
  box-shadow: inset 0px 1px 2px 1px #777;
}
form input.bottem-rounded {
  margin-top: -2px;
  padding: 5px 10px 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  -webkit-box-shadow: inset 0px -1px 2px 1px #777;
  -moz-box-shadow: inset 0px -1px 2px 1px #777;
  box-shadow: inset 0px -1px 2px 1px #777;
}
form .rounded {
  width: 100%;
  border-radius: 5px;
  padding: 5px 7px;
  -webkit-box-shadow: inset 0px 0px 2px 1px #777;
  -moz-box-shadow: inset 0px 0px 2px 1px #777;
  box-shadow: inset 0px 0px 2px 1px #777;
}
form .checkbox input {
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-right: 5px;
}
form.ad-settings .row {
  padding-left: 1px;
}

.switch.sensor_settings .wrapper {
  padding-left: 0;
}
.switch.sensor_settings .wrapper + .wrapper {
  padding-top: 15px;
  border-top: 1px solid #999;
}
.switch.sensor_settings .wrapper.hide + .wrapper {
  min-height: 42px;
  padding-top: 0;
  border-top: 0 none;
}
.switch.sensor_settings span {
  display: inline-block;
  margin-top: 8px;
  float: left;
}
.switch form {
  z-index: 1;
  position: absolute;
  top: 7px;
  min-width: 100px;
}
.switch form fieldset {
  float: right !important;
  min-height: 40px;
}

.sensor_settings, .time-list, .ad-settings {
  padding-left: 30px;
}

/* Lists */
@media (max-width: 500px) {
  .time-list {
    padding-right: 5px;
  }
  .time-list dt {
    padding-left: 0;
  }
  .time-list .row .col-2 + .col-2 {
    padding-right: 65px;
  }
  .time-list .row.first .col-2 + .col-2 {
    padding-right: 70px;
  }

  .item-list .sublist a {
    padding: 10px;
  }
}
@media (min-width: 501px) {
  .time-list {
    padding-right: 20px;
  }
  .time-list dt {
    padding-left: 10px;
  }
  .time-list .row .col-2 + .col-2 {
    padding-right: 40px;
  }
  .time-list .row.first .col-2 + .col-2 {
    padding-right: 50px;
  }

  .item-list .sublist a {
    padding: 5px  10px;
  }
}
@media (max-width: 749px) {
  .photo-items li {
    max-width: 45.5%;
    max-height: 400px;
  }
  .photo-items li:nth-child(odd) {
    padding-right: 0;
  }
}
@media (min-width: 750px) {
  .photo-items li {
    max-width: 48%;
    max-height: 400px;
  }
  .photo-items li:nth-child(odd) {
    padding-right: 0;
  }
}
ul, ol, dl, .item-list {
  list-style: none;
}

.item-list {
  z-index: 10;
  position: relative;
  float: right;
  display: inline-block;
}
.item-list .list-item {
  clear: both;
}
.item-list .sublist {
  clear: both;
  z-index: 20;
  position: absolute;
  top: 40px;
  right: -10px;
  width: 140px;
  display: none;
  background: -webkit-linear-gradient(#fff, #d0fef1 60%, #43fbbc);
  -webkit-box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.99);
  -moz-box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid #777;
  border-right: 0 none;
}
.item-list .sublist .list-item a {
  display: block;
  border-top: 1px solid #999;
}
.item-list .sublist .list-item:first-child a {
  border-top: 0 none;
}
.item-list .sublist .list-item .fa {
  padding-right: 10px;
  line-height: 20px;
}
.item-list .sublist .list-item .active {
  background-color: #fff;
}
.item-list .active + .sublist {
  display: block;
}

.photo-items {
  padding: 20px;
}
.photo-items .list-item {
  overflow: hidden;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #eee;
  border: 2px solid #eee;
  border-radius: 5px;
}
.photo-items .list-item .set_img {
  display: none;
}
.photo-items figure img {
  display: block;
  max-width: 100%;
  max-height: 550px;
}

.photo-items figcaption,
.detail-view figcaption {
  padding: 5px 0;
  text-align: center;
  background: #eee;
}

.time-list {
  /* fix for safari */
  display: block;
}
.time-list:after {
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  content: ".";
}
.time-list .row + .row {
  margin: 10px 0;
  padding: 10px 10px;
  background-color: rgba(238, 238, 238, 0.5);
  border-radius: 5px;
}
.time-list .row .col-2 + .col-2 {
  float: right;
  text-align: right;
}
.time-list .row.first dt {
  padding-left: 20px;
}
.time-list dt {
  text-align: left;
}
.time-list dd {
  text-align: center;
}

.overlay {
  z-index: 10;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.9) !important;
}
.overlay.show,
.overlay .over.show {
  display: block;
}
.overlay .headline {
  margin-bottom: 0;
  background: #04ffb7;
}
.overlay form {
  padding: 20px;
  background: -webkit-linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85));
  background: -o-linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85));
  background: -moz-linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85));
  background: linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85));
}
.overlay .detail-view {
  overflow: hidden;
  z-index: 10;
  position: relative;
  max-height: 100%;
  margin: 0 auto;
  background: #eee;
  border: 0 none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.overlay .detail-view .set_img {
  z-index: 20;
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0 none;
  background: transparent;
}
.overlay .detail-view .set_img .fa {
  text-shadow: 1px 1px #fff;
}
.overlay .detail-view .set_img.hide_overlay {
  top: -5px;
  left: -5px;
}
.overlay .detail-view .set_img.hide_overlay .fa {
  position: relative;
  left: -7px;
  top: -8px;
}
.overlay .detail-view .set_img.show_overlay {
  top: -9px;
  right: -10px;
}
.overlay .detail-view img {
  box-sizing: border-box;
  width: 100%;
  max-height: 85%;
  border: 2px solid #eee;
}
.overlay .over {
  z-index: 20;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
}
.overlay .over .edit_img {
  max-width: 353px;
  margin: 0 auto;
  padding: 0 10px;
  border-radius: 5px;
  background: -webkit-linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85));
  background: -o-linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85));
  background: -moz-linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85));
  background: linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85));
}

header, div {
  margin-bottom: 15px;
}
