@media (max-width:500px) { 
	.back { 
		left: 0;
		top: 2px;
		padding-right:0; 
		padding-left:0;
	}

	.delete i {left: 0;}
}
@media (min-width:501px) { 
	.back { 
		left: 12px; 
		padding: 3px 10px 3px 8px;
	}
	.delete i {left: -3px;}
}

.btn {
	padding: 5px 10px;
	background: $radiant-grey;
	border: #aaa 1px solid;
	border-radius: 5px;

	&.submit {
		margin-top: 15px;
	}

	&.left {
		//margin-right: 5px; 
	}

	&.delete {
		position: absolute;
		top: 3px;
		right: 3px;
		max-width: 30px;
		max-height: 30px;
		border: 0 none;
		background: transparent; //rgba(238, 238, 238, 0.84);

		i {
			position: relative;
			top: -1px;
			line-height: 20px;
		}
	}
}

div + .btn.submit {
	margin-top: 0;
}

.btn.submit {
	width: 50%;
}

.back {
	float: left;
	position: relative;
	margin: 5px 0; 
}

.switch {
	@include clearfix;
	position: relative;
	text-align: center;

	.btn.switch-buttons {
		float: right;
		position: relative;
		width: 75px;
		height: 35px;
		display: block;
		padding: 0;
		background: $light-grey;
		border: 1px solid $middel-grey;
		border-radius: 20px;
		font-size: 1.25rem;
		line-height: 1.3rem;
		

		&:after {
			content: '';
			position: absolute;
			top: 1px;
			left: 0;
			width: 33px;
			height: 31px;
			font-size: 1.25rem;
			line-height: 1.3rem;
			background: $light-grey;
			border-radius: 0 none;
			border-radius: 25px;
			-webkit-box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.75);
			box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.75); 
		}  

		&.active:after {
			right: 0 !important;
		}
	}

	label.btn-round-checkbox {
		text-align: left;
	}

	.switch-buttons.active {
		background-color: $green-on;

		.btn-round-checkbox:after {
			left: 40px;
		}
	}

	input.check {
		visibility: hidden;
		position: absolute;
		top: 0px;
		left: 0px;
		height: 30px;
	}
}

.rounded_left {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.rounded_right {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}