/* forms */
@media (max-width:500px) { 
	.switch form {
		right: -1px;
	}
	form .switch .wrapper,
	form .switch .wrapper form {
		padding: 0 5px;
	}
}
@media (min-width:501px) { 
	.switch form {
		right: 3px;
	}
	form .switch .wrapper,
	form .switch .wrapper form {
		padding: 0 20px;
	}
}
form {
	text-align:center;
	
	.wrapper {
		position: relative;
	}

	div + .check-input {
		margin-top: -5px;
	}

	.edit {
		z-index: 0;
		position: absolute;
		top: -4px;
		right: 27px;

		& ~ .edit {
			top: 24px;
		} 
	}

	input {
		display: block;
		margin: 0;
		border: $middel-grey 1px solid;
	}

	input.top-rounded,
	input.bottem-rounded {
		width: 100%;
	}

	input.top-rounded {
		padding: 7px 10px 5px;
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		-webkit-box-shadow: $input-rounded-top;
		-moz-box-shadow: $input-rounded-top;
		box-shadow: $input-rounded-top;
	}

	input.bottem-rounded {
		margin-top: -2px; 
		padding: 5px 10px 7px;
		border-bottom-left-radius: 7px; 
		border-bottom-right-radius: 7px; 
		-webkit-box-shadow: $input-rounded-bottom;
		-moz-box-shadow: $input-rounded-bottom;
		box-shadow: $input-rounded-bottom;
	}

	.rounded {
		width: 100%;
		border-radius: 5px;
		padding: 5px 7px;
		-webkit-box-shadow: $input-rounded; 
		-moz-box-shadow: $input-rounded;
		box-shadow: $input-rounded;
	}

	.checkbox input{
		width: 15px;
		height: 15px;
		margin-top: 3px;
		margin-right: 5px; 
	}

	&.ad-settings .row {
		padding-left: 1px;
	}
}

.switch  {
	&.sensor_settings {
		.wrapper {
			padding-left: 0;
		}
		.wrapper + .wrapper {
			padding-top: 15px;
			border-top: 1px solid $middel-grey;
		}

		.wrapper.hide + .wrapper {
			min-height: 42px;
			padding-top: 0;
			border-top: 0 none;
		}

		span {
			display: inline-block;
			margin-top: 8px;
			float: left;
		}
	}

	form {
		z-index: 1;
		position: absolute;
		top: 7px;
		min-width: 100px;

		fieldset{
			float: right !important;
			min-height: 40px;
		}
	}
}

.sensor_settings, .time-list, .ad-settings {
	padding-left: 30px;
}