/* Lists */
@media (max-width:500px) { 
	.time-list {
		padding-right: 5px;

		dt {
			padding-left: 0;
		}
		.row .col-2 + .col-2 {
			padding-right: 65px;
		}
		.row.first .col-2 + .col-2 {
			padding-right: 70px;
		}
	}
	.item-list .sublist a {
		padding: 10px;
	}
}
@media (min-width:501px) { 
	.time-list {
		padding-right: 20px;

		dt {
			padding-left: 10px;
		}
		.row .col-2 + .col-2 {
			padding-right: 40px;
		}
		.row.first .col-2 + .col-2 {
			padding-right: 50px;
		}
	}
	.item-list .sublist a {
		padding: 5px  10px;
	}
}
@media (max-width:749px) { 
	.photo-items li {
		max-width: 45.5%;
		max-height: 400px;
		&:nth-child(odd) {
			padding-right: 0;
		}
	}
}
@media (min-width:750px) { 
	.photo-items li {
		max-width: 48%;
		max-height: 400px;

		&:nth-child(odd) {
			padding-right: 0;
		}
	}
}

ul, ol, dl, .item-list {
  list-style: none;
}

.item-list {
	z-index: 10;
	position: relative;
	float: right;
	display: inline-block;

	.list-item {
		clear: both;
	}
	
 	.sublist  {
 		clear: both;
 		z-index: 20;
 		position: absolute;
 		top: 40px;
 		right: -10px;
 		width: 140px;
 		display: none;
 		background: -webkit-linear-gradient(#fff, rgba(208, 254, 241, 1) 60%, #43fbbc);
		-webkit-box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.99);
		-moz-box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.75);
		box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.75);
		border: 1px solid $middel-dark-grey;
		border-right: 0 none;

		.list-item a {
			display: block;
			border-top: 1px solid $middel-grey;
		}

		.list-item:first-child a {
			border-top: 0 none;
		}

		.list-item .fa {
			padding-right: 10px;
			line-height: 20px;
		}

		.list-item .active {
			background-color: $white;
		}
 	}

 	.active + .sublist  {
 		display: block;
 	}
}

.photo-items {
	padding: 20px;

	.list-item {
		overflow: hidden;	
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 10px;
		background: $light-grey;
		border: 2px solid $light-grey;
		border-radius: 5px;

		.set_img { //set & close - Button
			display: none;
		}
	}

	figure  img {
		display: block;
		max-width: 100%;
		max-height: 550px;
	}
}

.photo-items, 
.detail-view {
	figcaption {
		padding: 5px 0;
		text-align: center;
		background: $light-grey;
	}
}

.time-list {
	@include clearfix;

	.row + .row {
		margin: 10px 0;
		padding: 10px 10px;
		background-color: rgba(238, 238, 238, .5);
		border-radius: 5px;
	}

	.row .col-2 + .col-2 {
		float: right;
		text-align: right;
	}

	.row.first dt{
		padding-left: 20px;
	}

	dt {
		text-align: left;
	}

	dd {
		text-align: center;
	}
}