.overlay {
	z-index: 10;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	background: rgba(0, 0, 0, .9) !important;

	&.show,
	.over.show {
		display: block;
	}

	.headline {
		margin-bottom: 0; 
		background: #04ffb7;
	}

	form {
		padding: 20px;
		background: -webkit-linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85));
		background: -o-linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85));
		background:  -moz-linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85));
		background: linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85));
	}

	.detail-view { // figur-element
		overflow: hidden;
		z-index: 10;
		position: relative;
		max-height: 100%;
		margin: 0 auto;
		background: $light-grey;
		border: 0 none;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;

		.set_img {
			z-index: 20;
			position: absolute;
			width: 40px;
			height: 40px;
			padding: 0;
			border:0 none;
			background: transparent;

			.fa {
				text-shadow: 1px 1px #fff;
			}

			&.hide_overlay {
				top: -5px;
				left: -5px;

				.fa {
					position:relative;
					left: -7px;
					top:-8px;
				}
			}

			&.show_overlay {
				top: -9px;
				right: -10px;
			}
		}

		img {
			box-sizing: border-box;
			width: 100%;
			max-height: 85%;
			border: 2px solid $light-grey;
		}
	}

	.over {
		z-index: 20;
		display: none;
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;

		.edit_img {
			max-width: 353px;
			margin: 0 auto;
			padding: 0 10px;
			border-radius: 5px;
			background: -webkit-linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85));
			background: -o-linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85));
			background:  -moz-linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85));
			background: linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85));
		}
	}
}