/**
 * ---------------------------------------------------------------------------------------------------- #
 *
 * Base - compass, reset, bugfixes, skiplinks, clearfix
 *
 */

/*
 * Compass Settings
 */

/* Support for Original-Webkit-Syntax at gradients */
$support-for-original-webkit-gradients: true;

/* Support for vendor prefixes for Opera and Konqueror */
$experimental-support-for-opera: true;
$experimental-support-for-khtml: false;

/* Support for SVG alternative */
$experimental-support-for-svg: true;

/* Imports neccesarry libaries*/
/*@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";*/

/*
 * Mixins for standard classes
 */
@mixin clearfix {
    /* fix for safari */
    display: block;

    &:after {
        visibility: hidden;
        display: block;
        clear: both;
        height: 0;
        font-size: 0;
        content: ".";
    }
}

@mixin block { overflow: hidden; };
@mixin border_box { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; };

@media all {
    /**
     *
     * Global Reset
     *
     * browser reset
     * @see     http://meyerweb.com/eric/tools/css/reset/
     *          v2.0 | 20110126
     *          License: none (public domain)
     */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        border: 0;
        padding: 0;
        font: inherit;
        font-size: 100%;
        vertical-align: baseline;
    }

    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
        display: block;
    }

    body {
        line-height: 1;
    }

    ol, ul {
        list-style: none;
    }

    blockquote, q {
        quotes: none;
    }

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: "";
        content: none;
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;
    }

    /**
     *
     * Browser Bugfixes
     *
     * @section fixes
     */


    /* Prevent iOS text size adjust after orientation change, without disabling user zoom. */
    html {
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }

    /**
     * Erzwingen vertikaler Scrollbalken in IE8, Firefox, Webkit & Opera um Springen des Inhalts zu vermeiden
     */

    body { overflow-y: scroll; }

    /* fix to remove extra inner padding on buttons in firefox */
    input::-moz-focus-inner,
    button::-moz-focus-inner {
         border: 0;
         padding: 0;
    }

    button,
    input {
        line-height: normal;
    }

    button,
    select {
        text-transform: none;
    }

    img {
        border: 0;
        vertical-align: middle;
        -ms-interpolation-mode: bicubic;
    }

    nav ul,
    nav ol {
        list-style: none;
        list-style-image: none;
    }

    button,
    html input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        cursor: pointer;
        -webkit-appearance: button;
        *overflow: visible;
    }

    textarea {
        overflow: auto;
        vertical-align: top;
    }

    /**
     * ---------------------------------------------------------------------------------------------------- #
     *
     * Standard Classes and Helpers
     *
     * generic-content-classes
     */

    .clearfix { @include clearfix; } /* Der Kern von Clearfix */

    .block { @include block; } /* BFC erzeugen */
    .border_box { @include border_box; }
}

/* print */
@media print {
  
    body { 
       overflow: visible;
       font-size: 10pt;
       background: transparent none;
    }
  
    #topnav, 
    #nav, 
    #search, 
    nav,
    .noprint{ display: none; }

    h1, h2, h3, h4, h5, h6 { page-break-after: avoid; } 
  
    .print {
        position: static;
        left: 0;
    }
}
