body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

html, body, div, span, 
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, button, em, 
b, u, center, dl, dt, dd, ol, ul, li, li a,
fieldset, form, label, legend, caption, tr, th, td,
article, aside, figcaption, footer, header, 
menu, nav, section, time, 
a.back, a.back:hover, a.back:active {
    font-family: $font-light;
    color: $dark-grey;
    box-sizing: border-box;
}

div, span, 
h1, h2, h3, h4, h5, h6, p, blockquote,
abbr, acronym, address, big, button, em, 
b, u, center, dl, dt, dd, ol,
fieldset, form, label, legend, caption, tr, th, td,
article, aside, figcaption, footer,
menu, nav, section, time {
    overflow: hidden;
}

body, h5, h6, p, blockquote,
address, big, button, em, 
b, u, center, dt, dd, li,
label, legend, caption, span, tr, th, td,
article, aside, figcaption, footer, header, 
menu, time, select {
    font-size: 1.125rem;
    line-height: 1.35rem;
}

.errorpage h1 {
         font-family: 'Helvetica Neue';
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 2.5rem;
}

h1, .set_img .fa-cog,
.set_img .fa-close {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 1.375rem;
    line-height: 1.5rem;
    padding: 10px 0;	
}

h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

input {
    font-size: 0.8rem;
    line-height: 1rem;
    box-sizing: border-box;
}

.wi-raindrops, .more .fa,
.back .fa,
.fa-angle-down, .fa-angle-up  {
    font-size: 1.5rem;
    line-height: 1.6rem;
}

header {
     h1 {
        //min-width: 80%;
        text-align: center;
        text-transform: uppercase;
    }
}

.headline .fa,
.headline .wi {
    float: left;
}

.headline .fa.right {
    float: right !important;
}

.fa, .wi {
    line-height: 40px;
}

.back .fa,
.more .fa {
    position: relative;
    padding-right: 3px;
}
.back .fa {
    top: 3px;
}
.more .fa {
    top: 2px;
}

a {
    color: $green-link;
    text-decoration: none;

    &:active,
    &:hover  {
        color: green;
    }

    &.link,
    &.link:active,
    &.link:hover {
        text-decoration: underline;
    }
}

ul .sublist .list-item .active {
    text-decoration: underline;
}

input,
.list-item a,
.list-item a:hover,
.list-item a:active,
.edit-data  {
    color: $dark-grey;
}
@media (max-width:500px) { 
     .main a.link { line-height: 40px; }
}
@media (min-width:501px) {
         .main a.link { line-height: 30px; }
}
#tools  .main a.link {
    display: block;
    text-align: center;
}