html {
	display: block;
	min-height: 100%;
	background: $color-bg;
	background-size: auto 100%; 
	background-position: left bottom;
	background-attachment: fixed;
}

html.color-bg {
	background: $img-bg no-repeat;
	background-size: cover; 

	header {
		background: rgba(208, 254, 241, .8);
	}
}

body {
	width:100%;
	height:100%;
	margin: 0 0;
	padding: 0;
}

div.errorpage {
	margin-left: -20px;
	text-align: center;
}

  
header,
.headline {
	@include clearfix;
	padding: 5px 10px;
	border-bottom: $dark-grey 1px solid;
}


header {
	z-index: 10;
	position: relative;
	padding: 10px ;
	-webkit-box-shadow: $header-shadow;
	-moz-box-shadow: $header-shadow;
	box-shadow: $header-shadow;

	&.row {
		margin-bottom: 0;
	}
}

.headline {
	background: rgba(4, 255, 183, .3);

	&.switch {
		z-index: 0;
	}
}


.right {
	float: right;
	display: block;
}

.left {
	float: left;
	display: block;
}

.center {
	text-align: center;
}

.hide {
	display: none;
}

.show {
  display: block;
}

.hidden {
	visibility: hidden;
}

.more {
    margin-right: 20px;
}

.part {
	margin-bottom: 20px;
	padding-bottom: 20px;
	background: -webkit-linear-gradient(rgba(4, 255, 183, .8), rgba(208, 254, 241, .8));
	background: -o-linear-gradient(rgba(4, 255, 183, .8), rgba(208, 254, 241, .8));
	background:  -moz-linear-gradient(rgba(4, 255, 183, .8), rgba(208, 254, 241, .8));
	background: linear-gradient(rgba(4, 255, 183, .8), rgba(208, 254, 241, .8));
}

p.error {
	color: #ddd;
	background: rgba(147, 0, 0, 0.68);
}

.error,
.info{
	padding: 10px 0;
	text-align: center;
}
  
