@media (max-width:500px) { 
	header.row .first {
		left: -5px;
		width: 65px;
		padding-right: 0 !important;
	}
	header.row .first ~ .col-8 {
		width: 185px;
		padding-left: 7px;
	}
	header.row .first ~ .col-2 {
		margin-left: -10px;
	}
	.ad-settings .col-8 {
		width: 45% !important;
	}
	.ad-settings .col-8 + .col-2 {
		padding-left: 5px;
	}
	.ad-settings .col-2 {
		width: 27.5% !important;
    		box-sizing: border-box;
		padding-right: 5px  !important;
	}
}
@media (min-width:501px) { 
	.col-8 + .col-2 {
		padding-left: 10px;
	}
}
.row {
	clear: both;
	width: 100%;
	position: relative;

	.col-2 {
		float: left;
		width: 20%;
		margin-bottom: 0px;
		padding-right: 10px;

		& ~ .col-2 {
			float: right;
			//padding-right: 20px;
		}
		& ~ dd.col-2 {
			float: left;
			
		}
	}

	.col-3 {
		float: left;
		width: 25%;
		padding-right: 10px;
	}

	.col-6 {
		float: left;
		width: 50%;
		padding-right: 10px;
	}

	.col-8 {
		float: left;
		width: 60%;
	}
}

