$font-light:   'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-normal:'Helvetica Neue', Helvetica, Arial, sans-serif;

$dark-grey: #333;
$light-grey: #eee;
$middel-grey: #999;
$middel-dark-grey: #777;

$white: #fff;
$green-on: #2de300;
$green-bg: #43fbbc;
$green-link: #004734;

$radiant-green: -webkit-linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85)),
-o-linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85)),
-moz-linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85)),
linear-gradient(#04ffb7, rgba(208, 254, 241, 0.85));

$radiant-grey: linear-gradient($light-grey, #999),
-webkit-linear-gradient($light-grey, #999);
$radiant-grey_2:-o-linear-gradient($light-grey, #999),
-moz-linear-gradient($light-grey, #999);


$img-bg:url("/img/img-bg.png");
$color-bg:url("/img/green-white-bg.png");

// shadows
$header-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
$input-rounded: inset 0px 0px 2px 1px $middel-dark-grey;
$input-rounded-bottom: inset 0px -1px 2px 1px $middel-dark-grey;
$input-rounded-top: inset 0px 1px 2px 1px $middel-dark-grey;


